POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_PRISMA_URL=

# Vercel PostgreSql Database
POSTGRES_URL="postgres://default:mkRTfP5VU3vN@ep-fragrant-night-095959-pooler.ap-southeast-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:mkRTfP5VU3vN@ep-fragrant-night-095959-pooler.ap-southeast-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:mkRTfP5VU3vN@ep-fragrant-night-095959.ap-southeast-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-fragrant-night-095959-pooler.ap-southeast-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="mkRTfP5VU3vN"
POSTGRES_DATABASE="verceldb"

# Base URl
NEXT_PUBLIC_BASEURL_API="http://localhost:3000/api"
NEXT_PUBLIC_BASEURL_API_PROD="https://reminder-me-chi.vercel.app/api"

# Secret Key
NEXT_PUBLIC_SECRET_KEY="DevAsNew-ReminderMe-SecretKey"
NEXT_PUBLIC_IV_KEY="DevAsNew-ReminderMe_IVKey"