POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_PRISMA_URL=

# Vercel PostgreSql Database

POSTGRES_URL="postgres://default:U7iJWs6lhQIj@ep-bold-rain-448659-pooler.ap-southeast-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:U7iJWs6lhQIj@ep-bold-rain-448659-pooler.ap-southeast-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:U7iJWs6lhQIj@ep-bold-rain-448659.ap-southeast-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-bold-rain-448659-pooler.ap-southeast-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="U7iJWs6lhQIj"
POSTGRES_DATABASE="verceldb"