# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# PostgreSQL Connection
POSTGRES_URL="postgres://default:aYHx1oMeslE7@ep-tiny-wood-370695-pooler.ap-southeast-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:aYHx1oMeslE7@ep-tiny-wood-370695-pooler.ap-southeast-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:aYHx1oMeslE7@ep-tiny-wood-370695.ap-southeast-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-tiny-wood-370695-pooler.ap-southeast-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="aYHx1oMeslE7"
POSTGRES_DATABASE="verceldb"

# Software Version
NEXT_PUBLIC_SOFTWARE_VERSION="v.1.0.0"

# Base URl for dev and prod (Prod Url got set on Vercel App Service already)
NEXT_PUBLIC_BASEURL_API="http://localhost:3000/api"

# Base URl for prod
# NEXT_PUBLIC_BASEURL_API="https://reminder-me-chi.vercel.app/api"

# Secret Key
NEXT_PUBLIC_SECRET_KEY="e69e253865aff3e60dd71ba6ec7028dbbfa05f95ecc0f237f91ea0445b5c7967"

# IndexedDB Connection
NEXT_PUBLIC_INDEXED_DB_NAME="ReminderMe-INDB"
NEXT_PUBLIC_INDEXED_DB_VERSION="1"
NEXT_PUBLIC_INDEXED_STORE_USER="UserCredentials"
NEXT_PUBLIC_INDEXED_STORE_USER_KEY="CurrentUser"
NEXT_PUBLIC_INDEXED_STORE_THEME="ThemeCredentials"
NEXT_PUBLIC_INDEXED_STORE_THEME_KEY="CurrentTheme"