/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* 
#ffc649 YELLOW
#00d59f GREEN
#371f9b PURPLE
#ff9832 ORANGE */

/* * { 
    background-color: #36393e;
} */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke !important;
}

/*  --------------------- [ Boostrap 5 Extention ] ---------------------  */

/*  --- [ Shadow Class ] ---  */

.shadow-top {
    box-shadow: 0px -4px 10px rgba(0, 0, 0, .75);
}

.shadow-bottom {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .75);
}

/*  --- [ Color Class ] ---  */

.filter-card {
    filter: grayscale(100%) !important;
}

.bg-whitesmoke {
    background-color: whitesmoke !important;
}

.text-cornflowerblue {
    color: #6495ED !important;
}

.text-cobalt-blue {
    color: #0047AB !important;
}

.bg-milk-yellow {
    background-color: #fffaca50 !important;
}

.text-milk-yellow {
    color: #fffaca !important;
}

.bg-milk-green {
    background-color: #74c365 !important;
}

.bg-viridian-green {
    background-color: #40826D !important;
}

.text-viridian-green {
    color: #40826D !important;
}

/*  --- [ Text Class ] ---  */

.text-size-20 {
    font-size: 20px;
}