/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* 
#ffc649 YELLOW
#00d59f GREEN
#371f9b PURPLE
#ff9832 ORANGE */

/* * { 
    background-color: #36393e;
} */



/*  --- [ Color Class ] ---  */

.filter-card {
    filter: grayscale(100%) !important;
}

.bg-whitesmoke {
    height: 100vh;
    background-color: whitesmoke !important;
}

.text-cornflowerblue {
    color: #6495ED !important;
}

.text-cobalt-blue {
    color: #0047AB !important;
}

.bg-milk-yellow {
    background-color: #fffaca50 !important;
}

.text-milk-yellow {
    color: #fffaca !important;
}

.bg-milk-green {
    background-color: #02bb86 !important;
}

.text-size-20 {
    font-size: 20px;
}

/* ========================================================================= */

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */